<br>
<div class="row">
	<div class="col-md-6 offset-md-3">
		<div class="card card-body bg-light">
			<h1>Look Up Your Local Forecast</h1>
			<p>What's the weather like in your city?</p>
			<div>
				<%= form_tag index_path do %>
					<%= text_field_tag :zipcode, nil, placeholder: "Zipcode", class: "form-control" %>
					<%= submit_tag "Check Weather", class: "btn btn-primary" %>
				<% end %>
			</div>
		</div>

		<% if @location != nil && @location != "" && (@error == "" || @error == nil) %>
			<div class="card card-body bg-light">
				<div class="row">
					<div class="col-md-7">
						<p><em>What's the weather like?</em></p>
						<p>
							Temperature is: <%= @temp %>&#176;
						</p>
						<p>
							Cloud cover: <%= @cloudiness %>%
						</p>
						<p>
							Wind speed: <%= @windiness %> mph
						</p>
					</div>
					<div class="col-md-5">
						<p>
							<%= @weather_words %>
							<img src="http://openweathermap.org/img/w/<%= @weather_icon %>.png" alt="weather_icon">
						</p>
					</div>
				</div>
			</div>
		<% elsif @status == "404" %>
			<p>Error: Please enter a valid request <%= @error %></p>		
		<% else %>
			<p>Enter a zip code to check the weather!</p>
		<% end %>
	</div>
</div>

